name: Update GitHub Stats

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Fetch GitHub Stats
        run: |
          curl -o github-stats.png "https://github-readme-stats.vercel.app/api?username=prachigarg1511&show_icons=true&theme=tokyonight"

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add github-stats.png
          git commit -m "Daily update GitHub stats" || exit 0
          git push
